#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  margin-top: 10px;
  padding: 2rem;
  text-align: center;
  border: 1px solid #8b8686;
  border-radius: 5px;
  max-width: 800px;
}

.happy {
  background-color: rgb(201, 109, 79);
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}